extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the api endpoint 
  p Angular front end link
  ul 
    li <a href='http://salary-app.navaneeth.dev/'>salary-app.navaneeth.dev</a>
    li <a href='https://cs-salary-app.uc.r.appspot.com/'>cs-salary-app.uc.r.appspot.com  (Mirror)</a>

  div.documentation 
    h2= "API Docs"
    p Resource URL :  https://back-end-dot-cs-salary-app.uc.r.appspot.com/getSalaryData
    h3= "Structure of the Salary Data"
      div
        a(href='/sampleResult') Sample JSON Result

    h3= "Implemented functionalities"
      ul
        each val in ['filter', 'skip', 'limit', 'sort', 'select', 'populate']
          li= val 
  
    h3= "Sample Requests"
    p GET : <a href='https://back-end-dot-cs-salary-app.uc.r.appspot.com/getSalaryData?base_salary<50000&sort=-year'>https://back-end-dot-cs-salary-app.uc.r.appspot.com/getSalaryData?base_salary<50000&sort=-year</a>